
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/vendor/icofont/icofont.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/vendor/remixicon/remixicon.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/vendor/venobox/venobox.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/vendor/aos/aos.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">	
    <link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">	
    <link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" ">
</head>



  <body>
      <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="/">Data Orchestration</a></h1>


        <a href="/" class="get-started-btn scrollto">Home</a>

        </div>
    </header><!-- End Header -->
    
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(static/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Please Provide Details
					</span>
				</div>

				<form class="login100-form validate-form" action = "{{ url_for('credentialsForm') }}" method = "POST">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input200"><b>Tenant ID</b></span>
						<input class="input100" type="text" name="TenantID" placeholder="Enter Tenant ID">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input200"><b>Subscription ID</b></span>
						<input class="input100" type="text" name="SubscriptionID" placeholder="Enter Subscription ID">
						<span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input200"><b>AAD App Client ID</b></span>
						<input class="input100" type="text" name="AADAppClientID" placeholder="Enter AAD App Client ID">
						<span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input200"><b>Azure KeyVault Name</b></span>
						<input class="input100" type="text" name="AzureKeyVaultName" placeholder="Enter Azure KeyVault Name">
						<span class="focus-input100"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input200"><b>Resource Group Name</b></span>
						<input class="input100" type="text" name="ResourceGroupName" placeholder="Enter Resource Group Name">
						<span class="focus-input100"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input200"><b>Azure Data Factory Name</b></span>
						<input class="input100" type="text" name="AzureDataFactoryName" placeholder="Enter Azure Data Factory Name">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
                        
                            <button class="btn btn-primary">
                                Continue
                            </button>
                       
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/vendor/select2/select2.min.js"></script>
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>

</body>